/* Based on FlowerCollection , a free, fully standards-compliant CSS template designed by TEMPLATED */

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #454545;
}

input, select {
	font-size: 18px;
}

th {
    color: #FFFFFF;
    background-color: #000099;
    white-space:nowrap;
    padding: 5px
}
tr td {
    background-color: #FFFFFF;
    white-space:nowrap;
}
tr.highlight td {
    background-color: #EEEEEE;
    white-space:nowrap;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-family: 'Oswald', sans-serif;
	color: #1D1D22;
}

h2 {
	font-size: 2.5em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

strong {
}

a {
	color: #000099;
}

a:hover {
	text-decoration: none;
}

/** HEADER */

#header {
  width: 100%;
}

/* Logo */

#logo {
	text-align: center;
	height: 150px;
	margin: 0px auto 0px auto;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	text-transform: lowercase;
	font-size: 4em;
}

#logo h1 span {
	color: #1F1F1F;
}

#logo p {
	text-align: center;
	font-size: 16px;
	color: #000000;
}

#logo p a {
	color: #000000;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000099;
}

/** MENU */

#menu {
	overflow: hidden;
	width: 100%;
	background: #000099;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 15px 40px 15px 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #FFFFFF;
	border: none;
}

#menu a:hover {
	text-decoration: none;
	color: #000000;
}
